*.vcxproj
*.cache
*.log
*.tlog
*.suo
CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.bin
CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
CMakeFiles/2.8.12.2/CMakeRCCompiler.cmake
CMakeFiles/2.8.12.2/CMakeSystem.cmake
*.exe
CMakeFiles/generate.stamp
CMakeFiles/cmake.check_cache
CMakeFiles/1965a11616015a994507837bb167b874/generate.stamp.rule
openddl_parser.dir/Debug/vc120.pdb
*.filters
*.obj
*.lib
*.exp
*.depend
CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
CMakeCache.txt
*.pdb
*.sln
*.dll
CMakeFiles/TargetDirectories.txt
*.ilk
CMakeFiles/1965a11616015a994507837bb167b874/ALL_BUILD.rule
CMakeFiles/1965a11616015a994507837bb167b874/ZERO_CHECK.rule
CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
CMakeFiles/generate.stamp.list
OpenDDL-Parser.sdf
OpenDDL-Parser.opensdf
cmake_install.cmake
openddl_parser_demo.vcxproj.user
CMakeFiles/3.1.0/
openddl_parser_unittest.vcxproj.user
