---
Checks: "-*,\
modernize-use-override,\
modernize-deprecated-headers,\
performance-*,\
-performance-type-promotion-in-math-fn,\
misc-assert-side-effect,\
misc-bool-pointer-implicit-conversion,\
misc-definitions-in-headers,\
misc-fold-init-type,\
misc-forward-declaration-namespace,\
misc-inaccurate-erase,\
misc-inefficient-algorithm,\
misc-macro-repeated-side-effects,\
misc-misplaced-const,\
misc-move-forwarding-reference,\
misc-multiple-statement-macro,\
misc-new-delete-overloads,\
misc-noexcept-move-constructor,\
misc-non-copyable-objects,\
misc-redundant-expression,\
misc-sizeof-container,\
misc-sizeof-expression,\
misc-string-compare,\
misc-string-constructor,\
misc-string-integer-assignment,\
misc-string-literal-with-embedded-nul,\
misc-suspicious-missing-comma,\
misc-suspicious-semicolon,\
misc-suspicious-string-compare,\
misc-swapped-arguments,\
misc-throw-by-value-catch-by-reference,\
misc-unconventional-assign-operator,\
misc-undelegated-constructor,\
misc-uniqueptr-reset-release,\
misc-unused-alias-decls,\
-misc-static-assert,\
"
WarningsAsErrors: ''
HeaderFilterRegex: 'code/.*$|freespace2/.*$|qtfred/.*'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key:          'misc-assert-side-effect.AssertMacros'
    value:        'assert,Assert,Assertion'
...

