[submodule "cmake/external/rpavlik-cmake-modules"]
	path = cmake/external/rpavlik-cmake-modules
	url = https://github.com/asarium/cmake-modules.git
[submodule "lib/libRocket"]
	path = lib/libRocket
	url = https://github.com/asarium/libRocket.git

