language: generic
sudo: required
dist: trusty
cache:
    directories:
    - $HOME/cmake
addons:
    apt:
        packages: &global_deps
            - ninja-build
            - libopenal-dev
            - libreadline6-dev
            - libpng12-dev
            - libjpeg62-dev
            - liblua5.1-0-dev
            - libjansson-dev
            - libsdl2-dev
            - valgrind
    coverity_scan:
        project:
            name: "scp-fs2open/fs2open.github.com"
        notification_email: niffiwan.scp@gmail.com
        build_command:   "ci/travis/script.sh"
        # must match TRAVIS_BRANCH check below
        branch_pattern: coverity_scan
env:
    global:
     # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
     #   via the "travis encrypt" command using the project repo's public key
     #   also note that fork's don't get access to secure keys
     #   you have to test using a branch in the main repo
     - secure: "C3wF967ZeliwwP1vC12EMIBOaC568n26Z/cPnwzn317ve59DWH3YSfPZVgvt08GzmaXITGGsJvPB+qxfGoKvQzYE4O1B73q81RpUe5pB3IhF+ThQ91VfQZIRJR5xEGJaLINUlHTTZGX5jxlkVO9wAcauVj/s3b8sQ3dvUZauPvk="
     # These declarations set INDIEGAMES_USER and INDIEGAMES_PASSWORD for uploading nightly builds to the indiegames server
     - secure: "XoXAeHm9sHS3Gc9TZxOWzHSODk1JTAqrgoGMN43ZwRir/EJdbPubtPt00U0+QZZLbtJlbWX0SbblL87dS6kpAsXU9b+7O98bjM018PycIykAwAz2wZDIKfk/PFHuLrohnYxWYfdFGQuYNjeA4JsT5x6FAd3X3IUIKo4N6AJVswU="
     - secure: "PKvVA/dbTEa72/XNRoAmNop2X/LI20wi0aNFyop0+iVE9HngzqdNEuXnDaXlpXhBNay7+ef8NSjsUjfNfsWoFwatOrysDofgumbJI4ro21LsCscZlapXCvWWUv6iu/WU17o1HtwCpwbUWx1G3LX0vnlIFqA/9o/R+nu7t8LVXUo="
     # These declarations set FS2DOWNLOADS_USER and FS2DOWNLOADS_PASSWORD
     - secure: "IkmyBK4fRKLCN2FK7f0DVIb2ZFmK2IhhIlrbkGB5gPBbPAiAT+WIohIN1HbEL5bCwfupv4QGLk+cXPV99KphCTORS8mDGBrrE8FYqE+W/qyWF5pv+FpDFClsyA9ZVo9gTHFYIiCkS39CCOG1lPbNvFlOpqLvSrxS7Gg74tDzUPw="
     - secure: "Jq5dCE/+1i7J06+Cp7XBqpT6yxJnK5MaEzqhuMheLdXYdWa42ak4trV5M0SkTs+5A824oilIncezPhdsoiI/QvLdSDutxNRlAv/607KqOnMuviDRu5WPMFiiVp8Ajnbzw9osRJjjrm3Wcbeo+W0zzl70hTR6QRTG4CoDD0LB2u4="
deploy:
    - provider: releases
      api_key:
          secure: "Wdt4Ccefo7a0ZDjEJQJgpghh7n72FtNJuKSAPUvoz4gtEX6Ct9J8yJI1t9V3jE3CTbbLJ21/Q6eZRDfT7UfNJe5DdepoJsP9DeFhKMWqQCq+AChqQWlm0KeZAffJoJreL8vXYhnRYcLT9ceZHEH6AqwN9TPV+xJziGPISAkYNZ8="
      skip_cleanup: true
      file_glob: true
      file: "/tmp/builds/*"
      on:
          condition: '"$RELEASE_BUILD" == true'
          tags: true

    - provider: script
      script: scripts/deploy.sh staging
      on:
          condition: '"$NIGHTLY_BUILD" == true'
          tags: true

matrix:
    include:
        # note that gcc Debug MUST be 1st for Coverity
        - os: linux
          env: CONFIGURATION="Debug" CC=gcc-5 CXX=g++-5
          addons:
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                  packages:
                      - g++-5
                      - *global_deps
        - os: linux
          env: CONFIGURATION="Debug" CC=clang-3.6 CXX=clang++-3.6
          addons:
              apt:
                  sources:
                      - llvm-toolchain-precise
                  packages:
                      - clang-3.6
                      - libc++-dev
                      - *global_deps
        - os: osx
          env: CONFIGURATION="Debug"

        - os: linux
          env: CONFIGURATION="Release" CC=gcc-5 CXX=g++-5
          addons:
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                  packages:
                      - g++-5
                      - *global_deps
        - os: linux
          env: CONFIGURATION="Release" CC=clang-3.6 CXX=clang++-3.6
          addons:
              apt:
                  sources:
                      - llvm-toolchain-precise
                  packages:
                      - clang-3.6
                      - libc++-dev
                      - *global_deps
        - os: osx
          env: CONFIGURATION="Release"
before_install:
    # ugly hack; if running a coverity scan abort all except the 1st build
    # see note re gcc compiler above needing to be 1st
    # also note that branch_pattern & the TRAVIS_BRANCH check must match
    # unfortunately COVERITY_SCAN_BRANCH isn't defined until later in the
    # build process
    - if ([[ "${TRAVIS_JOB_NUMBER##*.}" != "1" ]] && [[ "${TRAVIS_BRANCH}" == "coverity_scan" ]]); then false ; fi
    - source "./ci/travis/check_release.sh"
    - "./ci/travis/before_install.sh"
install:
    - "./ci/travis/install.sh"
    - export PATH=$HOME/cmake/bin:$PATH
before_script:
    - "./ci/travis/before_script.sh"
script:
    - if [ "$BUILD_DEPLOYMENT" = true ] ; then ./ci/travis/release.sh ; else ./ci/travis/script.sh ; fi
before_deploy:
    - "./ci/travis/before_deploy.sh"
