version: 1.0.0.{build}
configuration:
  - Debug
  - Release
clone_depth: 10
environment:
  matrix:
    - BuildID: 0
      CMAKE_GENERATOR: Visual Studio 12 2013
      PlatformToolset: v120_xp
      QT_DIR: C:\Qt\5.7\msvc2013
    - BuildID: 1
      CMAKE_GENERATOR: Visual Studio 14 2015 Win64
      PlatformToolset: v140_xp
      QT_DIR: C:\Qt\5.7\msvc2015_64
before_build:
  - git submodule update --init --recursive
build_script:
  - ps: . $Env:APPVEYOR_BUILD_FOLDER/ci/appveyor/build.ps1
test_script:
  - ps: . $Env:APPVEYOR_BUILD_FOLDER/ci/appveyor/test.ps1

deploy:
    - provider: GitHub
      auth_token:
          secure: 3kV4efHXwRnfXzmJPRAOs8D7+MhwXUXYeayI/P5y114L09kJa6b6L70beXdW7yYr
      on:
          ReleaseBuild: true        # deploy on release push only

    - provider: FTP
      protocol: sftp
      host: scp.indiegames.us
      username:
        secure: SFivQZfatqWHXK1ijYK3GQ==
      password:
        secure: q6Zk/412o1ri+NEya1dl1Q==
      folder: public_html/builds/nightly/$(VersionName)
      on:
          NightlyBuild: true        # deploy on nightly push only

    - provider: FTP
      protocol: ftp
      host: swc.fs2downloads.com
      username: 
        secure: EXg2ADoKzMduZF90ip2Q0g==
      password:
        secure: x0LL0uY9yBAQ7JTARhQ6AA==
      folder: swc.fs2downloads.com/builds/nightly/$(VersionName)
      beta: true
      on:
          NightlyBuild: true        # deploy on nightly push only

    - provider: FTP
      protocol: ftp
      host: swc.fs2downloads.com
      username: 
        secure: EXg2ADoKzMduZF90ip2Q0g==
      password:
        secure: x0LL0uY9yBAQ7JTARhQ6AA==
      folder: swc.fs2downloads.com/builds/test/$(VersionName)
      beta: true
      on:
          TestBuild: true        # deploy on test build push only
