<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>

  <appender name="fsoinstaller" class="org.apache.log4j.FileAppender">
    <param name="file" value="logs/fsoinstaller.log"/>
    <param name="append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>

  <appender name="installstatus" class="org.apache.log4j.FileAppender">
    <param name="file" value="logs/installstatus.log"/>
    <param name="append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} - %m%n"/>
    </layout>
  </appender>

  <appender name="installnotes" class="org.apache.log4j.FileAppender">
    <param name="file" value="logs/installnotes.log"/>
    <param name="append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} - %m%n"/>
    </layout>
  </appender>

  <logger name="com.fsoinstaller">
    <level value="debug"/>
    <appender-ref ref="fsoinstaller"/>
  </logger>

  <logger name="InstallStatus">
    <level value="debug"/>
    <appender-ref ref="installstatus"/>
  </logger>

  <logger name="InstallNotes">
    <level value="debug"/>
    <appender-ref ref="installnotes"/>
  </logger>

  <root>
    <level value="error"/>
    <appender-ref ref="stdout"/>
  </root>

</log4j:configuration>
